MigrationUtility/Service References/DesignerV2/TemplateSvcSP1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TemplateDesignerModelTypesV2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TemplateDesignerModelTypesV2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://designerv2.myprintcloud.com/Services/TemplateSvcSP.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="Templates">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApprovalDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ApprovedByName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ApprovedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="BackgroundArtwork" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BaseColorID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BaseColors" nillable="true" type="tns:BaseColors" />
          <xs:element minOccurs="0" name="BaseColorsReference" nillable="true" type="q1:EntityReferenceOfBaseColorsCJLnbT8Y" />
          <xs:element minOccurs="0" name="BgB" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BgG" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BgR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorHex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CuttingMargin" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullView" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullViewByte" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCorporateEditable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDisabled" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDoubleSide" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPrivate" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUseBackGroundColor" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUsePDFFile" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUseSide2BackGroundColor" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LowResPDFTemplates" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MPCRating" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MatchingSetID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MatchingSetTheme" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MultiPageCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PDFTemplateHeight" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PDFTemplateWidth" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PTempId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RejectionReason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SLThumbnail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SLThumbnaillByte" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="ScaleFactor" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Side2BackgroundArtwork" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Side2BgB" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Side2BgG" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Side2BgR" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Side2LowResPDFTemplates" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubmitDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SubmittedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubmittedByName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuperView" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuperViewByte" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="TempString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplateBackgroundImages" nillable="true" type="tns:ArrayOfTemplateBackgroundImages" />
          <xs:element minOccurs="0" name="TemplateColorStyles" nillable="true" type="tns:ArrayOfTemplateColorStyles" />
          <xs:element minOccurs="0" name="TemplateFontStyles" nillable="true" type="tns:ArrayOfTemplateFontStyles" />
          <xs:element minOccurs="0" name="TemplateFonts" nillable="true" type="tns:ArrayOfTemplateFonts" />
          <xs:element minOccurs="0" name="TemplateIndustryTags" nillable="true" type="tns:ArrayOfTemplateIndustryTags" />
          <xs:element minOccurs="0" name="TemplateKeywords" nillable="true" type="tns:ArrayOfTemplateKeywords" />
          <xs:element minOccurs="0" name="TemplateOwner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TemplateOwnerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplatePages" nillable="true" type="tns:ArrayOfTemplatePages" />
          <xs:element minOccurs="0" name="TemplateSide2Templates" nillable="true" type="tns:ArrayOfTemplateSide2Templates" />
          <xs:element minOccurs="0" name="TemplateSide2Templates1" nillable="true" type="tns:ArrayOfTemplateSide2Templates" />
          <xs:element minOccurs="0" name="TemplateThemeTags" nillable="true" type="tns:ArrayOfTemplateThemeTags" />
          <xs:element minOccurs="0" name="TemplateType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UsedCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UserRating" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="isCreatedManual" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="isEditorChoice" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="isSpotTemplate" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="isWatermarkText" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="tbl_ProductCategory" nillable="true" type="tns:tbl_ProductCategory" />
          <xs:element minOccurs="0" name="tbl_ProductCategoryReference" nillable="true" type="q1:EntityReferenceOftbl_ProductCategoryCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Templates" nillable="true" type="tns:Templates" />
  <xs:complexType name="BaseColors">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseColorID" type="xs:int" />
          <xs:element minOccurs="0" name="CMYK" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HEX" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RGB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplates" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseColors" nillable="true" type="tns:BaseColors" />
  <xs:complexType name="ArrayOfTemplates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Templates" nillable="true" type="tns:Templates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplates" nillable="true" type="tns:ArrayOfTemplates" />
  <xs:complexType name="ArrayOfTemplateBackgroundImages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateBackgroundImages" nillable="true" type="tns:TemplateBackgroundImages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateBackgroundImages" nillable="true" type="tns:ArrayOfTemplateBackgroundImages" />
  <xs:complexType name="TemplateBackgroundImages">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q3:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackgroundImageAbsolutePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BackgroundImageRelativePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactCompanyID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ContactID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="ImageDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageHeight" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ImageKeywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImagePermissions" nillable="true" type="tns:ArrayOfImagePermissions" />
          <xs:element minOccurs="0" name="ImageTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ImageType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ImageWidth" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q3:EntityReferenceOfTemplatesCJLnbT8Y" />
          <xs:element minOccurs="0" name="UploadedFrom" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="clippingFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="flgCover" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="flgPhotobook" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="hasClippingPath" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateBackgroundImages" nillable="true" type="tns:TemplateBackgroundImages" />
  <xs:complexType name="ArrayOfImagePermissions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePermissions" nillable="true" type="tns:ImagePermissions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePermissions" nillable="true" type="tns:ArrayOfImagePermissions" />
  <xs:complexType name="ImagePermissions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q4:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="ImageID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TemplateBackgroundImages" nillable="true" type="tns:TemplateBackgroundImages" />
          <xs:element minOccurs="0" name="TemplateBackgroundImagesReference" nillable="true" type="q4:EntityReferenceOfTemplateBackgroundImagesCJLnbT8Y" />
          <xs:element minOccurs="0" name="TerritoryID" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImagePermissions" nillable="true" type="tns:ImagePermissions" />
  <xs:complexType name="ArrayOfTemplateColorStyles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateColorStyles" nillable="true" type="tns:TemplateColorStyles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateColorStyles" nillable="true" type="tns:ArrayOfTemplateColorStyles" />
  <xs:complexType name="TemplateColorStyles">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q5:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ColorC" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorHex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorK" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorM" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorY" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Field1" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsColorActive" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSpotColor" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PelleteID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SpotColor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q5:EntityReferenceOfTemplatesCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateColorStyles" nillable="true" type="tns:TemplateColorStyles" />
  <xs:complexType name="ArrayOfTemplateFontStyles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateFontStyles" nillable="true" type="tns:TemplateFontStyles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateFontStyles" nillable="true" type="tns:ArrayOfTemplateFontStyles" />
  <xs:complexType name="TemplateFontStyles">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q6:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Allignment" type="xs:int" />
          <xs:element minOccurs="0" name="ColorPelleteID" type="xs:int" />
          <xs:element minOccurs="0" name="FontName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FontStyleID" type="xs:int" />
          <xs:element minOccurs="0" name="Indent" type="xs:double" />
          <xs:element minOccurs="0" name="IsAllCapital" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPrivateFontName" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUnderlined" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="Size" type="xs:double" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q6:EntityReferenceOfTemplatesCJLnbT8Y" />
          <xs:element minOccurs="0" name="TheadingUnit" type="xs:int" />
          <xs:element minOccurs="0" name="TheadingValue" type="xs:double" />
          <xs:element minOccurs="0" name="TrackingDirective" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateFontStyles" nillable="true" type="tns:TemplateFontStyles" />
  <xs:complexType name="ArrayOfTemplateFonts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateFonts" nillable="true" type="tns:TemplateFonts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateFonts" nillable="true" type="tns:ArrayOfTemplateFonts" />
  <xs:complexType name="TemplateFonts">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q7:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayIndex" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FontBytes" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="FontDisplayName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FontFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FontName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FontPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsEnable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPrivateFont" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductFontId" type="xs:int" />
          <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q7:EntityReferenceOfTemplatesCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateFonts" nillable="true" type="tns:TemplateFonts" />
  <xs:complexType name="ArrayOfTemplateIndustryTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateIndustryTags" nillable="true" type="tns:TemplateIndustryTags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateIndustryTags" nillable="true" type="tns:ArrayOfTemplateIndustryTags" />
  <xs:complexType name="TemplateIndustryTags">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q8:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TagID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:Tags" />
          <xs:element minOccurs="0" name="TagsReference" nillable="true" type="q8:EntityReferenceOfTagsCJLnbT8Y" />
          <xs:element minOccurs="0" name="TemplateIndustryTagID" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q8:EntityReferenceOfTemplatesCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateIndustryTags" nillable="true" type="tns:TemplateIndustryTags" />
  <xs:complexType name="Tags">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q9:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TagID" type="xs:int" />
          <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TagSlug" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplateIndustryTags" nillable="true" type="tns:ArrayOfTemplateIndustryTags" />
          <xs:element minOccurs="0" name="TemplateThemeTags" nillable="true" type="tns:ArrayOfTemplateThemeTags" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Tags" nillable="true" type="tns:Tags" />
  <xs:complexType name="ArrayOfTemplateThemeTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateThemeTags" nillable="true" type="tns:TemplateThemeTags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateThemeTags" nillable="true" type="tns:ArrayOfTemplateThemeTags" />
  <xs:complexType name="TemplateThemeTags">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q10:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TagID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:Tags" />
          <xs:element minOccurs="0" name="TagsReference" nillable="true" type="q10:EntityReferenceOfTagsCJLnbT8Y" />
          <xs:element minOccurs="0" name="TemplateThemeTagID" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q10:EntityReferenceOfTemplatesCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateThemeTags" nillable="true" type="tns:TemplateThemeTags" />
  <xs:complexType name="ArrayOfTemplateKeywords">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateKeywords" nillable="true" type="tns:TemplateKeywords" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateKeywords" nillable="true" type="tns:ArrayOfTemplateKeywords" />
  <xs:complexType name="TemplateKeywords">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q11:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KeywordID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q11:EntityReferenceOfTemplatesCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateKeywords" nillable="true" type="tns:TemplateKeywords" />
  <xs:complexType name="ArrayOfTemplatePages">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplatePages" nillable="true" type="tns:TemplatePages" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplatePages" nillable="true" type="tns:ArrayOfTemplatePages" />
  <xs:complexType name="TemplatePages">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q12:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BackGroundType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="BackgroundFileName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorC" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorK" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorM" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorY" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IsPrintable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PageName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PageType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductPageID" type="xs:int" />
          <xs:element minOccurs="0" name="TemplateObjects" nillable="true" type="tns:ArrayOfTemplateObjects" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q12:EntityReferenceOfTemplatesCJLnbT8Y" />
          <xs:element minOccurs="0" name="hasOverlayObjects" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplatePages" nillable="true" type="tns:TemplatePages" />
  <xs:complexType name="ArrayOfTemplateObjects">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateObjects" nillable="true" type="tns:TemplateObjects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateObjects" nillable="true" type="tns:ArrayOfTemplateObjects" />
  <xs:complexType name="TemplateObjects">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q13:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Allignment" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="AutoShrinkText" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="BColor" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CharSpacing" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="CircleRadiusX" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="CircleRadiusY" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ClippedInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorC" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorHex" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorK" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorM" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ColorStyleID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ColorY" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ContentCaseType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ContentString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayOrderPdf" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="DisplayOrderTxtControl" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ExField1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExField2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FontName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FontSize" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="FontStyleID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="GColor" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Indent" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="IsBold" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEditable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFontCustom" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsFontNamePrivate" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsHidden" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsItalic" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMandatory" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsNewLine" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsOverlayObject" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPositionLocked" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsQuickText" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRequireNumericValue" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSpotColor" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTextEditable" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUnderlinedText" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LineSpacing" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="MaxCharacters" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="MaxHeight" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="MaxWidth" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ObjectID" type="xs:int" />
          <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Opacity" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PalleteID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ParentId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PositionX" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PositionY" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductPageId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="QuickTextOrder" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RColor" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RotationAngle" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="SpotColorName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TCtlName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplatePages" nillable="true" type="tns:TemplatePages" />
          <xs:element minOccurs="0" name="TemplatePagesReference" nillable="true" type="q13:EntityReferenceOfTemplatePagesCJLnbT8Y" />
          <xs:element minOccurs="0" name="Tint" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="VAllignment" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="hasClippingPath" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="isSide2Object" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="textCase" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="textStyles" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="watermarkText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateObjects" nillable="true" type="tns:TemplateObjects" />
  <xs:complexType name="ArrayOfTemplateSide2Templates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateSide2Templates" nillable="true" type="tns:TemplateSide2Templates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateSide2Templates" nillable="true" type="tns:ArrayOfTemplateSide2Templates" />
  <xs:complexType name="TemplateSide2Templates">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q14="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q14:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Side2ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="Templates1" nillable="true" type="tns:Templates" />
          <xs:element minOccurs="0" name="Templates1Reference" nillable="true" type="q14:EntityReferenceOfTemplatesCJLnbT8Y" />
          <xs:element minOccurs="0" name="TemplatesReference" nillable="true" type="q14:EntityReferenceOfTemplatesCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TemplateSide2Templates" nillable="true" type="tns:TemplateSide2Templates" />
  <xs:complexType name="tbl_ProductCategory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q15:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplyFoldLines" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApplySizeRestrictions" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="CatagoryTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryLayouts" nillable="true" type="tns:ArrayOfCategoryLayouts" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryRegions" nillable="true" type="tns:CategoryRegions" />
          <xs:element minOccurs="0" name="CategoryRegionsReference" nillable="true" type="q15:EntityReferenceOfCategoryRegionsCJLnbT8Y" />
          <xs:element minOccurs="0" name="CategoryTypes" nillable="true" type="tns:CategoryTypes" />
          <xs:element minOccurs="0" name="CategoryTypesReference" nillable="true" type="q15:EntityReferenceOfCategoryTypesCJLnbT8Y" />
          <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CreatedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Description1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
          <xs:element minOccurs="0" name="HeightRestriction" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LockedBy" type="xs:int" />
          <xs:element minOccurs="0" name="MatchingSetCategories" nillable="true" type="tns:ArrayOfMatchingSetCategories" />
          <xs:element minOccurs="0" name="ParentCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="RegionID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ScaleFactor" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Templates" nillable="true" type="tns:ArrayOfTemplates" />
          <xs:element minOccurs="0" name="ThumbnailPath" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UpdatedDateTime" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="WidthRestriction" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ZoomFactor" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="tbl_ProductCategory1" nillable="true" type="tns:ArrayOftbl_ProductCategory" />
          <xs:element minOccurs="0" name="tbl_ProductCategory2" nillable="true" type="tns:tbl_ProductCategory" />
          <xs:element minOccurs="0" name="tbl_ProductCategory2Reference" nillable="true" type="q15:EntityReferenceOftbl_ProductCategoryCJLnbT8Y" />
          <xs:element minOccurs="0" name="tbl_ProductCategoryFoldLines" nillable="true" type="tns:ArrayOftbl_ProductCategoryFoldLines" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tbl_ProductCategory" nillable="true" type="tns:tbl_ProductCategory" />
  <xs:complexType name="ArrayOfCategoryLayouts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryLayouts" nillable="true" type="tns:CategoryLayouts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryLayouts" nillable="true" type="tns:ArrayOfCategoryLayouts" />
  <xs:complexType name="CategoryLayouts">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q16:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ImageLogoType" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LayoutAttributes" nillable="true" type="tns:ArrayOfLayoutAttributes" />
          <xs:element minOccurs="0" name="LayoutID" type="xs:int" />
          <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tbl_ProductCategory" nillable="true" type="tns:tbl_ProductCategory" />
          <xs:element minOccurs="0" name="tbl_ProductCategoryReference" nillable="true" type="q16:EntityReferenceOftbl_ProductCategoryCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryLayouts" nillable="true" type="tns:CategoryLayouts" />
  <xs:complexType name="ArrayOfLayoutAttributes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LayoutAttributes" nillable="true" type="tns:LayoutAttributes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLayoutAttributes" nillable="true" type="tns:ArrayOfLayoutAttributes" />
  <xs:complexType name="LayoutAttributes">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q17:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttId" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryLayouts" nillable="true" type="tns:CategoryLayouts" />
          <xs:element minOccurs="0" name="CategoryLayoutsReference" nillable="true" type="q17:EntityReferenceOfCategoryLayoutsCJLnbT8Y" />
          <xs:element minOccurs="0" name="FeildName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LayoutID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="LeftPos" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="fontSize" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="fontWeight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="maxHeight" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="maxWidth" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="textAlign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="topPos" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LayoutAttributes" nillable="true" type="tns:LayoutAttributes" />
  <xs:complexType name="CategoryRegions">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q18:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="RegionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegionID" type="xs:int" />
          <xs:element minOccurs="0" name="RegionName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tbl_ProductCategory" nillable="true" type="tns:ArrayOftbl_ProductCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryRegions" nillable="true" type="tns:CategoryRegions" />
  <xs:complexType name="ArrayOftbl_ProductCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_ProductCategory" nillable="true" type="tns:tbl_ProductCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_ProductCategory" nillable="true" type="tns:ArrayOftbl_ProductCategory" />
  <xs:complexType name="CategoryTypes">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q19:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="TypeID" type="xs:int" />
          <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tbl_ProductCategory" nillable="true" type="tns:ArrayOftbl_ProductCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoryTypes" nillable="true" type="tns:CategoryTypes" />
  <xs:complexType name="ArrayOfMatchingSetCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchingSetCategories" nillable="true" type="tns:MatchingSetCategories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchingSetCategories" nillable="true" type="tns:ArrayOfMatchingSetCategories" />
  <xs:complexType name="MatchingSetCategories">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q20:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="MatchingSetID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MatchingSets" nillable="true" type="tns:MatchingSets" />
          <xs:element minOccurs="0" name="MatchingSetsReference" nillable="true" type="q20:EntityReferenceOfMatchingSetsCJLnbT8Y" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="tbl_ProductCategory" nillable="true" type="tns:tbl_ProductCategory" />
          <xs:element minOccurs="0" name="tbl_ProductCategoryReference" nillable="true" type="q20:EntityReferenceOftbl_ProductCategoryCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MatchingSetCategories" nillable="true" type="tns:MatchingSetCategories" />
  <xs:complexType name="MatchingSets">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q21:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LastUpdatedDt" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MatchingSetCategories" nillable="true" type="tns:ArrayOfMatchingSetCategories" />
          <xs:element minOccurs="0" name="MatchingSetID" type="xs:int" />
          <xs:element minOccurs="0" name="MatchingSetName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MatchingSets" nillable="true" type="tns:MatchingSets" />
  <xs:complexType name="ArrayOftbl_ProductCategoryFoldLines">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_ProductCategoryFoldLines" nillable="true" type="tns:tbl_ProductCategoryFoldLines" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_ProductCategoryFoldLines" nillable="true" type="tns:ArrayOftbl_ProductCategoryFoldLines" />
  <xs:complexType name="tbl_ProductCategoryFoldLines">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q22:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="FoldLineID" type="xs:int" />
          <xs:element minOccurs="0" name="FoldLineOffsetFromOrigin" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="FoldLineOrientation" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="tbl_ProductCategory" nillable="true" type="tns:tbl_ProductCategory" />
          <xs:element minOccurs="0" name="tbl_ProductCategoryReference" nillable="true" type="q22:EntityReferenceOftbl_ProductCategoryCJLnbT8Y" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="tbl_ProductCategoryFoldLines" nillable="true" type="tns:tbl_ProductCategoryFoldLines" />
  <xs:complexType name="ArrayOfBaseColors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseColors" nillable="true" type="tns:BaseColors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseColors" nillable="true" type="tns:ArrayOfBaseColors" />
  <xs:complexType name="ArrayOfsp_GetTemplateThemeTags_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sp_GetTemplateThemeTags_Result" nillable="true" type="tns:sp_GetTemplateThemeTags_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsp_GetTemplateThemeTags_Result" nillable="true" type="tns:ArrayOfsp_GetTemplateThemeTags_Result" />
  <xs:complexType name="sp_GetTemplateThemeTags_Result">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q23:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TagID" type="xs:int" />
          <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="selected" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="sp_GetTemplateThemeTags_Result" nillable="true" type="tns:sp_GetTemplateThemeTags_Result" />
  <xs:complexType name="ArrayOfsp_GetTemplateIndustryTags_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sp_GetTemplateIndustryTags_Result" nillable="true" type="tns:sp_GetTemplateIndustryTags_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsp_GetTemplateIndustryTags_Result" nillable="true" type="tns:ArrayOfsp_GetTemplateIndustryTags_Result" />
  <xs:complexType name="sp_GetTemplateIndustryTags_Result">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q24:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TagID" type="xs:int" />
          <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="selected" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="sp_GetTemplateIndustryTags_Result" nillable="true" type="tns:sp_GetTemplateIndustryTags_Result" />
  <xs:complexType name="ArrayOfTags">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tags" nillable="true" type="tns:Tags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTags" nillable="true" type="tns:ArrayOfTags" />
  <xs:complexType name="ArrayOfsp_SearchTemplate_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sp_SearchTemplate_Result" nillable="true" type="tns:sp_SearchTemplate_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsp_SearchTemplate_Result" nillable="true" type="tns:ArrayOfsp_SearchTemplate_Result" />
  <xs:complexType name="sp_SearchTemplate_Result">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q25:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseColorID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MPCRating" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PDFTemplateHeight" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PDFTemplateWidth" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PageOrientation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RowN" type="xs:long" />
          <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="sp_SearchTemplate_Result" nillable="true" type="tns:sp_SearchTemplate_Result" />
  <xs:complexType name="ArrayOfvw_WebStore_MatchingSets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_WebStore_MatchingSets" nillable="true" type="tns:vw_WebStore_MatchingSets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_WebStore_MatchingSets" nillable="true" type="tns:ArrayOfvw_WebStore_MatchingSets" />
  <xs:complexType name="vw_WebStore_MatchingSets">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q26:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseColorID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
          <xs:element minOccurs="0" name="FullView" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDisabled" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDoubleSide" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPrivate" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUseBackGroundColor" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="MatchingSetID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="MultiPageCount" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Orientation" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PTempId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SLThumbnail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SubmittedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SuperView" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplateOwner" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Thumbnail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="isEditorChoice" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vw_WebStore_MatchingSets" nillable="true" type="tns:vw_WebStore_MatchingSets" />
  <xs:complexType name="ArrayOfvw_ProductCategoriesLeafNodes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_ProductCategoriesLeafNodes" nillable="true" type="tns:vw_ProductCategoriesLeafNodes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_ProductCategoriesLeafNodes" nillable="true" type="tns:ArrayOfvw_ProductCategoriesLeafNodes" />
  <xs:complexType name="vw_ProductCategoriesLeafNodes">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q27:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CatagoryTypeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ParentCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="RegionID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ScaleFactor" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Width" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ZoomFactor" nillable="true" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vw_ProductCategoriesLeafNodes" nillable="true" type="tns:vw_ProductCategoriesLeafNodes" />
  <xs:complexType name="ArrayOfvw_ProductCategoriesLeafNodesWithRes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_ProductCategoriesLeafNodesWithRes" nillable="true" type="tns:vw_ProductCategoriesLeafNodesWithRes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_ProductCategoriesLeafNodesWithRes" nillable="true" type="tns:ArrayOfvw_ProductCategoriesLeafNodesWithRes" />
  <xs:complexType name="vw_ProductCategoriesLeafNodesWithRes">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q28:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCategoryID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="vw_ProductCategoriesLeafNodesWithRes" nillable="true" type="tns:vw_ProductCategoriesLeafNodesWithRes" />
  <xs:complexType name="ArrayOfCategoryRegions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryRegions" nillable="true" type="tns:CategoryRegions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryRegions" nillable="true" type="tns:ArrayOfCategoryRegions" />
  <xs:complexType name="ArrayOfCategoryTypes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryTypes" nillable="true" type="tns:CategoryTypes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryTypes" nillable="true" type="tns:ArrayOfCategoryTypes" />
</xs:schema>